@charset "utf-8";

/* 共通のスタイル */

body{
  background-color: #202020;
  color: #fff;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.background {
  position: absolute;
  display: block;
  z-index: -10;
}

header{
    width: 100%;
    height: 150px;
    position: fixed;
    text-align: left;
    background-color: #000;
    z-index: 9999;
}
    header h1{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 2.0rem;
        color: #fff;
    }
        header h1 a{
            text-decoration: none;
            color: #fff;
        }
        header h1 a:hover{
            opacity: 0.8;
        }

    header nav#gloval-nav{
        width: 60%;
        height: 100px;
        position: absolute;
        top: 30px;
        right: 0;
    }
        header nav#gloval-nav ul{
            list-style: none;
            display: flex;
            width: 100%;
            height: 100px;
        }
            header nav#gloval-nav ul li{
                padding-left: 5%;
                width: 20%;
                font-size: 0.9rem;
                color: #fff;
            }
                header nav#gloval-nav ul li a{
                    text-decoration: none;
                    color: #fff;
                }
                header nav#gloval-nav ul li a:hover{
                    opacity: 1.0;
                    transition: 0.3s;
                    font-size: 1.0rem;
                    border: solid #000 1px;
                    border-radius: 2px;
                    background-color: #fff;
                    color: #000;
                    padding: 5px;
                }

/* content */
.container{
  max-width: 100%;
  padding: 0 30px;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

.contents .container h2#bar1{
  margin-left: 2%;
  padding: 2% 0 2% 1%;
  text-align: left;
  border-left: 10px solid #a3d1ff;
  color: #fff;
  font-size: 1.0rem;
  background-color: #404040;
}
.contents .container h2#bar2{
  margin-left: 2%;
  padding: 2% 0 2% 1%;
  text-align: left;
  border-left: 10px solid #ffb2b2;
  color: #fff;
  font-size: 1.0rem;
  background-color: #404040;
}

.top-title{
  font-size: 64px;
  margin-bottom: 10px;
}

.top-subtitle{
  font-size: 24px;
  margin-bottom: 60px;
}

.top-text{
  opacity: 0.8;
}

.contents{
  margin-top: 20px;
  margin-bottom: 50px;
}

.card-wrapper{
  display: flex;/*全ての要素（card）を横並びにする*/
  flex-wrap: wrap;/*各要素（card）を横幅に合わせて適宜折り返して表示*/
}

.card{
  width: 33%;
  margin-top: 35px; 
}

.card-inner{
  margin: 0 20px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 1px 1px 4px #d2d4d6;
  text-align: center;
}

.card-image{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card-title{
  margin-bottom: 8px;
  font-size: 14px;
}

.card-text{
  font-size: 10px;
}



/* slide */
.swiper-container{
    padding: 200px 0 0 0;
    width: 100%;
}
.swiper-wrapper{}


.swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 52%;
    transition: 0.5s;
}
.swiper-wrapper .swiper-slide a:hover img{
    opacity: 0.7;
}

.swiper-wrapper .swiper-slide p{
    font-family: "ＭＳ ゴシック",sans-serif;
    padding: 5px 0 5px 0;
    background-color: #333;
    color: #fff;

}


div.swiper-container img{
    width: 100%;
}

/* main */
article{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

  article section.cont-box{
      display: block;
      height: 700px;
      align-items: center;
      padding-top: 10%;
  }
    article section.cont-box div.ranking{
        margin-left: 2%;
        padding: 2% 0 2% 1%;
        text-align: left;
        border-left: 10px solid #ffb2b2;
    }

      article section.cont-box div.contarea{
        display: inline;
        margin: 0 auto;
      }
        article section.cont-box div.contarea a{
          display: inline;
          padding: 0 0 15px 0;
          color: #000;
          background-color: #fff;
        }
        article section.cont-box div.contarea a img{
          width: 30%;
          padding: 1% 1% 1% 1%;
        }

    article section.cont-box div.event{
      margin-left: 2%;
      padding: 2% 0 2% 1%;
      text-align: left;
      border-left: 10px solid #ffb2b2;
    }


    footer {
      border-top: solid 1px #ddd;
      background-color: #202020;
    }
      footer div {
        padding: 15px 0 15px 0;
        font-size: 0.8rem;
        color: #fff;
        box-sizing: border-box;
      }










/* ########### 599px以下 ########### */
@media (max-width: 599px) {

  header nav{
    height: 100px;
    top: 0;
    right: 0;
}
    header nav#gloval-nav{
        display: none;
    }
    header nav#nav-toggle ul span{
        top: 40px;
        right: 20px;
        border-radius: 10px;
        width: 38px;
        height: 3px;
    }

    article{
      width: 100%;
      box-sizing: border-box;
    }

    .container{
      max-width: 100%;
      padding: 0 10px;
      margin-bottom: 3%;
      color: #000;
    }

    .contents .container h2#bar1{
      margin-left: 2%;
      padding: 2% 0 2% 1%;
      text-align: left;
      border-left: 10px solid #a3d1ff;
      color: #fff;
      font-size: 1.0rem;
    }
    .contents .container h2#bar2{
      margin-left: 2%;
      padding: 2% 0 2% 1%;
      text-align: left;
      border-left: 10px solid #ffb2b2;
      color: #fff;
      font-size: 1.0rem;
    }

    .top-title{
      font-size: 64px;
      margin-bottom: 10px;
    }

    .top-subtitle{
      font-size: 24px;
      margin-bottom: 60px;
    }

    .top-text{
      opacity: 0.8;
    }

    .contents{
      display: block;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .card-wrapper{
      display: inline;/*全ての要素（card）を縦並びにする*/
      flex-wrap: wrap;/*各要素（card）を横幅に合わせて適宜折り返して表示*/
    }

    .card{
      width: 100%;
      height: 28%;
      margin-top: 35px; 
    }

    .card-inner{
      margin: 0 20px;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 1px 1px 4px #d2d4d6;
      text-align: center;
    }

    .card-image{
      width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .card-title{
      margin-bottom: 8px;
      font-size: 14px;
    }

    .card-text{
      font-size: 10px;
    }

    article{
      padding-bottom: 1%;
    }

    .swiper-container{
      padding: 150px 0 0 0;
      width: 100%;
  }
  .swiper-wrapper{}
  .swiper-wrapper .swiper-slide img{
      width: 100%;
      height: 52%;
  }

  footer {
    border-top: solid 1px #ddd;
    background-color: #202020;
  }
  footer div {
    padding: 15px 0 15px 0;
    padding: 15px 20px 15px 20px;
}
    
     
}



/* ########### 600px以上～768px以下 ########### */
@media (min-width: 600px) and (max-width: 768px) {

  header nav{
    height: 100px;
    top: 0;
    right: 0;
}
    header nav#gloval-nav{
        display: none;
    }
    header nav#nav-toggle ul span{
        top: 40px;
        right: 20px;
        border-radius: 10px;
        width: 38px;
        height: 3px;
    }
    
    /* div{
        padding: 15px 0 15px 0;
        width: 100%;
        height: 600px;
    } */

    article{
      width: 100%;
      padding-bottom: 1%;
      box-sizing: border-box;
    }

    .container{
      max-width: 60%;
      padding: 0 10px;
      margin-bottom: 3%;
      color: #000;
    }

    .contents .container h2#bar1{
      margin-left: 2%;
      padding: 2% 0 2% 1%;
      text-align: left;
      border-left: 10px solid #a3d1ff;
      color: #fff;
      font-size: 1.0rem;
    }
    .contents .container h2#bar2{
      margin-left: 2%;
      padding: 2% 0 2% 1%;
      text-align: left;
      border-left: 10px solid #ffb2b2;
      color: #fff;
      font-size: 1.0rem;
    }

    .top-title{
      font-size: 64px;
      margin-bottom: 10px;
    }

    .top-subtitle{
      font-size: 24px;
      margin-bottom: 60px;
    }

    .top-text{
      opacity: 0.8;
    }

    .contents{
      display: flex;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .card-wrapper{
      display: inline;/*全ての要素（card）を縦並びにする*/
      flex-wrap: wrap;/*各要素（card）を横幅に合わせて適宜折り返して表示*/
    }

    .card{
      width: 100%;
      height: 28%;
      margin-top: 35px; 
    }

    .card-inner{
      margin: 0 20px;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 1px 1px 4px #d2d4d6;
      text-align: center;
    }

    .card-image{
      width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .card-title{
      margin-bottom: 8px;
      font-size: 14px;
    }

    .card-text{
      font-size: 10px;
    }

    .swiper-container{
        padding: 150px 0 0 0;
        width: 100%;
    }
    .swiper-wrapper{}
    .swiper-wrapper .swiper-slide img{
        width: 100%;
        height: 52%;
    }


    div.swiper-container img{
        width: 100%;
    }

    footer {
      border-top: solid 1px #ddd;
      background-color: #202020;
    }
    footer div {
      padding: 15px 0 15px 0;
      padding: 15px 20px 15px 20px;
  }
    
}



/* ########### 769px以上 ########### */
@media (min-width: 769px) {}



/* ########### 1000px以上 ########### */
@media (min-width: 1000px) {}




/* drawer-menu */

#nav-toggle {
    position: fixed;
    top: 30px;
    right: 70px;
    height: 32px;
    cursor: pointer;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width:  110%;
    height: 9px;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out, top .5s ease;
    transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }
  
  #container {
    z-index: 900;
  }

#drawer-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
    -webkit-transition: opacity .6s ease, visibility .6s ease;
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  #drawer-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
  }
  #drawer-nav a:hover {
    color: rgb(255, 143, 91);
  }
  #drawer-nav ul {
    list-style: none;
  }
  #drawer-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, opacity .2s ease;
    transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
  }
  #drawer-nav ul li:nth-child(2) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #drawer-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #drawer-nav ul li:nth-child(4) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  #drawer-nav ul li:nth-child(5) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #drawer-nav ul li:nth-child(6) {
    -webkit-transition-delay: .75s;
            transition-delay: .75s;
  }
  #drawer-nav ul li:nth-child(7) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  
  /* open */
  .open {
    overflow: hidden;
  }
  .open #drawer-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #drawer-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
  }
  